<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>O nas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for("home") }}"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" ></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('home') }}#kursy">COURSE</a></li>
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>O nas</h1>
        </div>

    </section>

    <!-- Kursy -->
    <section class="course">
        <h1>Nasz zespół</h1>
        <p>Zespół TKNDD - "Ten Kod Nie Działa Dobrze"</p>

        <div class="row">

            <div class="course-low">
                    <img src="{{ url_for('static', filename='images/user2.jpg') }}" class="obraz">
                    <h3>Marcin Bromboszcz</h3>

                    <p></p>
                </a>
            </div>

            <div class="course-mid">
                    <img src="{{ url_for('static', filename='images/user1.jpg') }}" class="obraz">
                    <h3>Mateusz Tarnogórski</h3>

                    <p></p>
                </a>
            </div>
            <div class="course-high">
                    <img src="{{ url_for('static', filename='images/user3.png') }}" class="obraz">
                    <h3>Gabriel Łapiński</h3>

                    <p></p>
                </a>
            </div>
        </div>
    </section>


    <!---- jezyki programowania ---->
    <section class="facilities">
        <h1></h1>
        <p>Jesteśmy uczniami Technikum Programistycznego Infotech w Białymstoku. W naszym 3 ososbowym zepsole wpadliśmy na pomysł
        stworzenia zbioru wiedzy na temat różnych języków programowania. Strona ma na celu
        w prosty i zwięzły sposób skumulować informacje tak aby były przejrzyste i łatwe w odbiorze.
        Każdy może wybrać język jakiego chce sie uczyć, wybrać poziom zaawansowania a także wybierać
        poszczególne tematy i zagadnienia o jakich ma chęć się dowiedzieć. Mamy nadzieję, że strona ta pomoże
        wam w nauce i pogłębianiu wiedzy a ostatecznie w zostaniu dobrymi PROGRAMISTAMI!</p>
        <div class="row">

    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>