<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Kursy TKNDD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('home') }}#kursy">COURSE</a></li>
                    <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Oto twój Dashboard</h1>
            <h1>Witaj użytkowniku {{ current_user.username }}! </h1>


        </div>

    </section>

    <!-- Kursy -->
    <section class="course">
        <h1>W każdym kursie są dostępne 3 poziomy trudności</h1>
        <p>Uczeń na każdym stopniu zaawansowania znajdzie coś dla siebie</p>

        <div class="row">
            <div class="course-col">
                <h3>Początkujący</h3>
                <p>Kursy dla początkujących programistów</p>
            </div>
            <div class="course-col">
                <h3>Średniozaawansowany</h3>
                <p>Kursy dla średniozaawansowanych programistów</p>
            </div>
            <div class="course-col">
                <h3>Zaawansowany</h3>
                <p>Poszerz swoją wiedzę z języków programowania</p>
            </div>
        </div>
    </section>



    <!---- jezyki programowania ---->
    <section class="facilities" id="kursy">
        <h1>Dostępne Kursy</h1>
        <p>Znajdziesz tu kursy z wielu języków programowania!</p>
        <div class="row">
            <div class="facilities-col">
                <a href="{{ url_for('python') }}">
                    <img src="{{ url_for('static', filename='images/python.png') }}">
                    <h3>Python</h3>
                    <p>Zostań programistą back-end. Naucz się programować logikę strony lub aplikacji. Python jest też wykorzystywany do analizy.
                        Masz z nim styczność praktycznie codziennie, gdy korzystasz z Instagrama, Spotify albo Netflixa.</p>
                </a>
            </div>
            <div class="facilities-col">
                <a href="{{ url_for('js') }}">
                    <img src="{{ url_for('static', filename='images/JSlogo.png') }}">
                    <h3>JavaScript</h3>
                    <p>Zostań programistą front-end. Naucz się programować to, co widzisz w przeglądarce.
                        Poznaj jeden z najważniejszych języków programowania na świecie, z którego korzystają takie firmy jak Facebook, Uber czy PayPal.</p>
                </a>
            </div>
            <div class="facilities-col">
                <a href="{{ url_for('html') }}">
                    <img src="{{ url_for('static', filename='images/html.png') }}">
                    <h3>HTML</h3>
                    <p>Zrozumiesz kod, który pomaga stworzyć strukturę strony i jej zawartości. Budowa znaczników, formatowanie tekstu czy wstawianie obrazka -
                        wszystko jest prostsze niż Ci się wydaje!</p>
                </a>
            </div>
        </div>
    </section>





    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>