<!DOCTYPE html>
<html lang="pl" >
<head>
  <meta charset="UTF-8">
  <title>Zaloguj się</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{{ url_for('static', filename='login_2.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
    <h1>Zaloguj się</h1>
    <div class="content">
      <div class="input-field">
        {{ form.username }}
      </div>
      <div class="input-field">
        {{ form.password }}
      </div>
      <a href="{{ url_for('register') }}" class="link">Nie masz konta? Zarejestruj się!</a>
        <br>
        <a href="{{ url_for('home') }}" class="link">powrót na stronę główną</a>
    </div>
    <div class="action">
      <button>{{ form.submit }}</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
