<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Kurs Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_python_info.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('home') }}#kursy">COURSE</a></li>
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Kurs Python</h1>
            <p>W tym kursie nauczysz się korzystać z jezyka Python!<br>Najszybciej rozwijającego się języka programowania w historii!
            </p>
        </div>

    </section>

    <!-- Kursy -->
    <section class="course">
        <h1>Dostępne są 3 poziomy trudności</h1>
        <p>Wybierz dogodny poziom trudności.</p>

        <div class="row">

            <div class="course-low">
                <a href="{{ url_for('kurs_python_low') }}">
                    <h3>Początkujący</h3>
                    <p>Jeśli dopiero co zaczynasz przygodę z językiem python, ten kurs jest dla ciebie!</p>
                </a>
            </div>

            <div class="course-mid">
                <a href="{{ url_for('kurs_python_mid') }}">
                    <h3>Średniozaawansowany</h3>
                    <p>Kurs dla średniozaawansowanych programistów</p>
                </a>
            </div>
            <div class="course-high">
                <a href="{{ url_for('kurs_python_high') }}">
                    <h3>Zaawansowany</h3>
                    <p>Poszerz swoją wiedzę o Python</p>
                </a>
            </div>
        </div>
    </section>


    <!---- jezyki programowania ---->
    <section class="facilities">
        <h1>Inne kursy</h1>
        <p>Inni korzystali też z tych kursów</p>
        <div class="row">

            <div class="facilities-col">
                <a href="{{ url_for('html') }}">
                    <img src="{{ url_for('static', filename='images/html.png') }}">
                    <h3>JavaScript</h3>

                </a>
            </div>
            <div class="facilities-col">
                <a href="{{ url_for('js') }}">
                    <img src="{{ url_for('static', filename='images/JSlogo.png') }}">
                    <h3>HTML</h3>
                </a>
            </div>
        </div>
    </section>


    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>