<!DOCTYPE html>
<html lang="pl" >
<head>
  <meta charset="UTF-8">
  <title>Zarejestruj się</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
    <h1>Zarejestruj się</h1>
    <div class="content">
      <div class="input-field">
        {{ form.username }}
      </div>
      <div class="input-field">
        {{ form.password }}
      </div>
      <a href="{{ url_for('login') }}" class="link">Masz już konto? Zaloguj się!</a>
    </div>
    <div class="action">
      <button>{{ form.submit }}</button>
    </div>
  </form>
</div>


</body>
</html>
